@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-hachi-maru-pop: var(--font-hachi-maru-pop);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #162456;
  color: #ffffff;
  font-family: var(--font-hachi-maru-pop), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* プログレスバーのスタイリング */
progress.progress-bar {
  appearance: none;
  -webkit-appearance: none;
}

progress.progress-bar::-webkit-progress-bar {
  background: transparent;
  border-radius: 9999px;
}

progress.progress-bar::-webkit-progress-value {
  background: linear-gradient(
    90deg,
    #e13496,
    #d262d3,
    #d658c2,
    #2f125f,
    #e13496
  );
  background-size: 200% 100%;
  border-radius: 9999px;
  box-shadow: 0 0 10px rgba(225, 52, 150, 0.5),
    inset 0 2px 4px rgba(255, 255, 255, 0.3);
  animation: shimmer 2s infinite;
  position: relative;
}

progress.progress-bar::-moz-progress-bar {
  background: linear-gradient(
    90deg,
    #e13496,
    #d262d3,
    #d658c2,
    #2f125f,
    #e13496
  );
  background-size: 200% 100%;
  border-radius: 9999px;
  box-shadow: 0 0 10px rgba(225, 52, 150, 0.5),
    inset 0 2px 4px rgba(255, 255, 255, 0.3);
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.speechBubble {
  position: relative;
  display: inline-block;
  width: 150px;
  padding: 50px;
  border-radius: 20px;
  background: rgb(228, 191, 255);
}

.speechBubble::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 12px 12px 0 0;
  border-color: transparent rgb(228, 191, 255) transparent transparent;
  translate: -100% -50%;
}
